@charset "UTF-8";
/* モバイルファースト */
/* メディアクエリミックスイン */
/*! destyle.css v4.0.1 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  min-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* ベーススタイル(global) */
/* color */
:root {
  /* background color */
  --color-bg-base: unset;
  --color-bg-orange: #FF8C00;
  --color-bg-orange2: #ffcb6d;
  --color-bg-line: #60C647;
  --color-bg-tel: #525252;
  --color-bg-gray: #E2E2E2;
  /* border color */
  --color-border-gray: #E2E2E2;
  /* font color */
  --color-font-white: #FFFFFF;
  --color-font-base: #000535;
  --color-font-orange: #FF8C00;
  --color-font-black: #484848;
  --color-font-yellow: #FFE48F80;
  --color-font-white2: #FFFFFFB2;
  --color-font-gray: #525252;
  --color-font-gray2: #7A7A7A;
}

/* ベーススタイル(global) */
/* フォント */
:root {
  --font-family-base: "Noto Sans JP", sans-serif;
}

body {
  font-family: var(--font-family-base);
}

/* ベーススタイル(global) */
*,
*::before,
*::after {
  box-sizing: border-box;
}

span {
  display: block;
}

img {
  width: 100%;
  height: auto;
}

body {
  line-height: 1.75;
  font-size: 14px;
  color: var(--color-font-base);
  font-family: var(--font-family-base);
  position: relative;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

/*
.ly_cont {
    width: 91.4%;
    margin: 40px auto 0;
    @include g.mq('tab') {
        //tab
    }
    @include g.mq('pc') {
        //左右余白は50pxにする
        width: 92.3%;
        max-width: 1200px;
    }
}
*/
.hp_m0a {
  margin: 0 auto !important;
}

.hp_db {
  display: block !important;
}

.hp_tac {
  text-align: center !important;
}

.hp_fw500 {
  font-weight: 500 !important;
}

.hp_mt8 {
  margin-top: 8px !important;
}

.un_hide {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.un_hide__sp,
.un_hide__123 {
  display: none !important;
}

@media screen and (max-width: 767px) {
  .un_hide__onlySp,
  .un_hide__1 {
    display: none !important;
  }
}

/*
.un_hide__notSp,
.un_hide__23 {
    @include g.mq("notSp") {
        display: none !important;
    }
}
//tab以降で非表示と同じ意味なので省略
*/
@media screen and (min-width: 768px) {
  .un_hide__tab,
  .un_hide__notSp,
  .un_hide__23 {
    display: none !important;
  }
}

@media screen and (max-width: 767px), screen and (min-width: 1080px) {
  .un_hide__notTab,
  .un_hide__13 {
    display: none !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 1079px) {
  .un_hide__onlyTab .un_hide__2 {
    display: none !important;
  }
}

@media screen and (min-width: 1080px) {
  .un_hide__pc,
  .un_hide__onlyPc,
  .un_hide__3 {
    display: none !important;
  }
}

@media screen and (max-width: 1079.5px) {
  .un_hide__notPc,
  .un_hide__12 {
    display: none !important;
  }
}

/* ブロックモジュール */
.bl_header {
  height: 60px;
  width: 100%;
}
.bl_header_inner {
  display: flex;
  padding-right: 16px;
  justify-content: space-between;
  align-items: center;
}
.bl_header_logoWrap_link {
  width: 60px;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* ブロックモジュール */
.ly_kv {
  background-image: url("../img/kv-bg.jpg");
  background-size: 100% auto;
  background-repeat: repeat-y;
  background-position: top center;
}
/* ブロックモジュール */
/* ブロックモジュール */
/* ブロックモジュール */
/* ブロックモジュール */
.bl_worries_group {
  background-image: url("../img/worries-bg.jpg");
  background-size: 100% auto;
  background-repeat: repeat-y;
  background-position: top center;
}
.bl_worries_group2 {
  background-image: url("../img/worries-bg2.jpg");
  background-size: 100% auto;
  background-repeat: repeat-y;
  background-position: top center;
}
/* ブロックモジュール */
.bl_future {
  background-image: url("../img/future-bg.jpg");
  background-size: 100% auto;
  background-repeat: repeat-y;
  background-position: top center;
}
/* ブロックモジュール */
/* ブロックモジュール */
/* ブロックモジュール */
/* ブロックモジュール */
.bl_flow {
  background-image: url("../img/flow-bg.jpg");
  background-size: 100% auto;
  background-repeat: repeat-y;
  background-position: top center;
}
/* ブロックモジュール */
/* ブロックモジュール */
/* エレメントモジュール */
/* エレメントモジュール */

/*# sourceMappingURL=style-top.css.map */
