/* ベーススタイル(global) */
/* color */
//その場所でしか使わない繰り返さない色は直接定義してここには書かない(量が膨大になってしまうのを防ぐため)
//
:root{
    /* background color */
    --color-bg-base: unset;
    --color-bg-orange: #FF8C00;
    --color-bg-orange2: #ffcb6d;
    //lineの色
    --color-bg-line: #60C647;
    //telの色
    --color-bg-tel: #525252;
    //footerのコピーライトの部分
    --color-bg-gray: #E2E2E2;
    --color-bg-white: #FFFFFF;
    --color-bg-white2: #fcfcfc;
    --color-bg-gray2: #4c5051;
    --color-bg-orange3: #e59100;
    //ロゴ背景
    --color-bg-orange4: #ffa500;
    --color-bg-orange5: #ED8200;
    //footer
    --color-bg-footerGray: #f2f2f2;
    //pcの背景余白
    --color-bg-orange6: #ffa442;

    /* border color */
    --color-border-gray: #E2E2E2;
    --color-border-lightgray: #dcdcdd;
    --color-border-orange: #ED8200;
    --color-border-orange2: #ff8c00;

    /* font color */
    --color-font-white: #FFFFFF;
    --color-font-base: #000535;
    --color-font-orange: #FF8C00;
    --color-font-black: #484848;
    //pointの文字
    --color-font-yellow: #FFE48F80;
    --color-font-white2: #FFFFFFB2;
    //flowのところ
    --color-font-gray: #525252;
    //companyのlabel色
    --color-font-gray2: #7A7A7A;
    --color-font-gray3: #5C5C5C;

}
