.hp_m0a {
    margin: 0 auto !important;
}
.hp_db {
    display: block !important;
}
.hp_tac {
    text-align: center !important;
}
.hp_fw500 {
    font-weight: 500 !important;
}
.hp_mt8 {
    margin-top: 8px !important;
}