@use "../../global/" as g;

/* エレメントモジュール */
.el_ttlHeader {
    display: flex;
    align-items: center;
    justify-content: center;
}
.el_ttlHeader span {
    background: var(--color-bg-orange);
    color: var(--color-font-white);
    padding: 1px 2px 1px;
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 1.3;
    letter-spacing: 0;
    text-transform: uppercase;
}