@use "../../global/" as g;

/* ブロックモジュール */
.bl_future {
    background-image: url("../img/future-bg.jpg");
    background-size: 100% auto;
    background-repeat: repeat-y;
    background-position: top center;
    @include g.mq('tab') {

    }
    @include g.mq('pc') {

    }

}

.bl_future_inner {
    @include g.mq('tab') {

    }
    @include g.mq('pc') {

    }

}

.bl_future_header {
    @include g.mq('tab') {

    }
    @include g.mq('pc') {

    }

}

.bl_future_header_label {
    @include g.mq('tab') {

    }
    @include g.mq('pc') {

    }

}

//タイトル
.bl_future_header_ttl {
    @include g.mq('tab') {

    }
    @include g.mq('pc') {

    }

}

.bl_future_header_ttl_highlight {
    @include g.mq('tab') {

    }
    @include g.mq('pc') {

    }

}

.bl_future_header_ttl_num {
    @include g.mq('tab') {

    }
    @include g.mq('pc') {

    }

}

//リスト
.bl_future_list {
    @include g.mq('tab') {

    }
    @include g.mq('pc') {

    }

}
