@use "../../global/" as g;

/* ブロックモジュール */
.bl_topKvBottomCta {
    padding: 0 16px 10px 16px;
    position: relative;
    background: var(--color-bg-white2);
}

.bl_topKvBottomCta_ctaWrap {
    position: relative;
    top: -19px;
    z-index: 40;
}