@use "../../global/" as g;

/* ブロックモジュール */
.bl_header {
    height: 60px;
    width: 100%;
    @include g.mq('tab') {

    }
    @include g.mq('pc') {

    }

}

.bl_header_inner {
    display: flex;
    padding-right: 16px;
    justify-content: space-between;
    align-items: center;
    @include g.mq('tab') {

    }
    @include g.mq('pc') {

    }

}

.bl_header_logoWrap {
    @include g.mq('tab') {

    }
    @include g.mq('pc') {

    }

}

.bl_header_logoWrap_link {
    width: 60px;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include g.mq('tab') {

    }
    @include g.mq('pc') {

    }

}

.bl_header_logoWrap_logo {
    @include g.mq('tab') {

    }
    @include g.mq('pc') {

    }

}

.bl_header_btnGroup {
    @include g.mq('tab') {

    }
    @include g.mq('pc') {

    }

}

.bl_header_btnGroup_iconWrap {
    @include g.mq('tab') {

    }
    @include g.mq('pc') {

    }

}

.bl_header_btnGroup_iconWrap_link {
    @include g.mq('tab') {

    }
    @include g.mq('pc') {

    }

}

.bl_header_btnGroup_iconWrap_icon {
    @include g.mq('tab') {

    }
    @include g.mq('pc') {

    }

}

//文章
.bl_header_btnGroup_iconWrap_txt {
    @include g.mq('tab') {

    }
    @include g.mq('pc') {

    }

}
