@use "../../global/" as g;

/* ブロックモジュール */
.bl_header {
    height: 60px;
    width: 100%;
    position: absolute;
    padding-top: 10px;
    z-index: 25;
    @include g.mq('tab') {

    }
    @include g.mq('pc') {
        
    }
}

.bl_header_inner {
    display: flex;
    padding-right: 16px;
    justify-content: space-between;
    align-items: flex-end;
    @include g.mq('tab') {

    }
    @include g.mq('pc') {

    }
}

.bl_header_logoWrap {
    width: 130px;
    @include g.mq('tab') {

    }
    @include g.mq('pc') {

    }
}

.bl_header_logoWrap_link {
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 162px;
    @include g.mq('tab') {

    }
    @include g.mq('pc') {

    }
}

.bl_header_logoWrap_logo {
    width: 130px;
    @include g.mq('tab') {

    }
    @include g.mq('pc') {

    }
}

.bl_header_btnGroup {
    height: 40px;
    display: flex;
    gap: 5px;
    @include g.mq('tab') {

    }
    @include g.mq('pc') {

    }
}

.bl_header_btnGroup_iconWrap {
    @include g.mq('tab') {

    }
    @include g.mq('pc') {

    }
}

.bl_header_btnGroup_iconWrap_link {
    @include g.mq('tab') {

    }
    @include g.mq('pc') {

    }
}

.bl_header_btnGroup_iconWrap_icon {
    @include g.mq('tab') {

    }
    @include g.mq('pc') {

    }
}

//文章
.bl_header_btnGroup_iconWrap_txt {
    @include g.mq('tab') {

    }
    @include g.mq('pc') {

    }
}
